<div xmlns:th="http://www.thymeleaf.org">
	<div class="modal-header">
		<h5 class="modal-title">Thông tin yêu cầu liên hệ</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<form class="ajax-form needs-validation" novalidate th:object="${dto}" th:action="@{/admin/contacts/save}" method="POST">
		<input type="hidden" th:field="*{id}">
		<div class="modal-body">
			<div th:replace="~{fragments/alert :: alerts}"></div>
			
			<div class="row g-3">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="mb-2">
								<div class="form-text">Họ tên:</div>
		                		<div class="fw-medium" th:text="${contact.fullName}">Trịnh Văn Hoan</div>
							</div>
							<div class="mb-2">
								<div class="form-text">Email:</div>
		                		<div class="fw-medium" th:text="${contact.email}">hoantv.trinh@gmail.com</div>
							</div>
							<div class="mb-2">
								<div class="form-text">Điện thoại:</div>
		                		<div class="fw-medium" th:text="${contact.phoneNumber}">0983270115</div>
							</div>
							<div class="mb-2">
								<div class="form-text">Khóa học quan tâm:</div>
		                		<div class="fw-medium" th:text="${contact.course.courseName}">Java cơ bản</div>
							</div>
							<div class="mb-2">
								<div class="form-text">Lời nhắn từ khách hàng:</div>
		                		<div class="fw-medium" th:text="${contact.message}">Đăng ký học từ T2 đến T4</div>
							</div>
							<div class="mb-2">
								<div class="form-text">Ngày gửi</div>
		                		<div class="fw-medium">
		                			<small class="fst-italic">Vào lúc <span th:text="${#temporals.format(contact.createdAt, 'HH:mm:ss')}"></span></small>
		                			- ngày
		                			<span th:text="${#temporals.format(contact.createdAt, 'dd/MM/yyyy')}"></span>
		                		</div>
							</div>
							<th:block th:if="${contact.updatedBy != null}">
								<div class="mb-2">
									<div class="form-text">Người xử lý</div>
			                		<div class="fw-medium" th:text="${contact.updatedBy.fullName}"></div>
								</div>
								<div class="mb-2">
									<div class="form-text">Ngày xử lý</div>
			                		<div class="fw-medium">
			                			<small class="fst-italic">Vào lúc <span th:text="${#temporals.format(contact.updatedAt, 'HH:mm:ss')}"></span></small>
			                			- ngày
			                			<span th:text="${#temporals.format(contact.updatedAt, 'dd/MM/yyyy')}"></span>
			                		</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
				
				<div class="col-md-6 d-flex flex-column">
					<h6 class="text-primary fw-bold"><i class="fas fa-user-shield me-2"></i>Xử lý liên hệ</h6>
					<div class="mb-3">
	                    <label class="form-label">Trạng thái xử lý</label>
	                    <select class="form-select" th:field="*{status}" required>
                            <option th:each="item : ${statuses}" 
					            th:value="${item}" 
					            th:text="${statusLabels.get(item)}">
					    	 </option>
                        </select>
                        <div class="invalid-feedback">
							Chưa chọn trạng thái xử lý
						</div>
	                </div>
	                <div class="d-flex flex-column flex-fill">
	                    <label class="form-label">Ghi chú nội bộ (Tùy chọn)</label>
	                    <textarea class="form-control flex-fill" rows="5" placeholder="Ghi chú kết quả cuộc gọi..." th:field="*{adminNote}"></textarea>
	                </div>
				</div>                
                
            </div>
		</div>
	
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Cập nhật</button>
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
		</div>
	</form>
</div>