<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(pageTitle, pageContent)"
      th:with="pageHead=${pageHead} ?: '',
			 pageAction=${pageAction} ?: '', 
			 pageFoot=${pageFoot} ?: '',
			 pageIcon=${pageIcon} ?: '',
			 pageCurrent=${pageCurrent} ?: ''" th:data-site-url="@{/}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${pageTitle + ' - Admin Panel'}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}">

    <th:block th:if="${pageHead != ''}">
        <th:block th:replace="${pageHead}"></th:block>
    </th:block>
</head>

<body>
<header class="navbar sticky-top bg-primary flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-3 text-white" th:href="@{/}"><i
            class="fa-solid fa-mug-saucer"></i> Java Master</a>
    <ul class="navbar-nav flex-row align-items-center px-3">
        <li class="nav-item text-nowrap text-white d-none d-md-flex">
            <a th:href="@{/admin/profile}" class="nav-link text-white opacity-75">
                <i class="fa fa-user"></i> <span th:text="${userFullName}"></span>
            </a>
        </li>

        <li class="nav-item text-nowrap d-md-none">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </li>
    </ul>
</header>

<div class="container-fluid">
    <div class="row content-wrapper">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
                 aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">Java Master</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                    <h6
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                        <span>Quản trị</span>
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2"
                               th:href="@{/admin/dashboard}"
                               th:classappend="${pageCurrent=='dashboard' ? 'active' : ''}">
                                <i class="fa-solid fa-house"></i> Tổng quan
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2"
                               th:href="@{/admin/contacts}"
                               th:classappend="${pageCurrent=='contacts' ? 'active' : ''}">
                                <i class="fa-solid fa-address-book"></i> Liên hệ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2"
                               th:href="@{/admin/courses}"
                               th:classappend="${pageCurrent=='courses' ? 'active' : ''}">
                                <i class="fa-solid fa-graduation-cap"></i> Khóa học
                            </a></li>
                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link d-flex align-items-center gap-2"
                               th:href="@{/admin/users}"
                               th:classappend="${pageCurrent=='users' ? 'active' : ''}">
                                <i class="fa-solid fa-user"></i> Người dùng
                            </a></li>
                    </ul>
                    <hr class="my-3">

                    <h6
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                        <span>Báo cáo thống kê</span>
                    </h6>
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2"
                               th:href="@{/admin/stats}"
                               th:classappend="${pageCurrent=='stats' ? 'active' : ''}">
                                <i class="fa-solid fa-chart-line"></i> Thống kê tổng quát
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2"
                               th:href="@{/admin/stats-month}"
                               th:classappend="${pageCurrent=='stats-month' ? 'active' : ''}">
                                <i class="fa-solid fa-calendar-day"></i> Tháng hiện tại
                            </a>
                        </li>
                    </ul>
                    <hr class="my-3">
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2"
                               th:href="@{/admin/profile}"
                               th:classappend="${pageCurrent=='profile' ? 'active' : ''}">
                                <i class="fa-solid fa-user-gear"></i> Thông tin cá nhân
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2"
                               th:href="@{/logout}">
                                <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">
                    <i th:if="${pageIcon != ''}" th:class="${pageIcon}"></i>
                    <span th:text="${pageTitle}"></span>
                </h1>
                <th:block th:if="${pageAction != ''}">
                    <th:block th:replace="${pageAction}"></th:block>
                </th:block>
            </div>

            <div class="page-content">
                <div th:replace="${pageContent}">
                    <!-- Nội dung -->
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger"><i class="fas fa-exclamation-triangle me-2"></i>Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa <span id="delete-pre-message"></span> <strong id="delete-message">Thông
                tin</strong>?
                <p class="text-muted small mt-2 fst-italic">Hành động này sẽ xóa vĩnh viễn dữ liệu khỏi hệ thống.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <a href="#" id="confirm-delete-link" class="btn btn-danger">Xóa luôn</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="page-foot">
    <div class="modal fade" id="mainModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg ajax-form-container">
            <div class="modal-content"></div>
        </div>
    </div>
</div>

<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container text-center">
        <p class="mb-0">&copy; 2026 Java Core Master. All rights reserved.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<th:block th:if="${pageFoot != ''}">
    <th:block th:replace="${pageFoot}"></th:block>
</th:block>

<script th:src="@{/assets/js/admin.js}"></script>
</body>
</html>
