<html xmlns:th="https://www.thymeleaf.org">
<body>
	<div class="flash-message" th:fragment="alerts">
		<div th:if="${flashMessages}">
			<div th:each="entry : ${flashMessages}" 
	         th:with="type=${entry.key}, msgs=${entry.value}"
	         class="alert alert-dismissible fade show d-flex align-items-start mb-3"
	         th:classappend="${'alert-' + type}" role="alert">
	        
		        <div class="me-3 mt-1" th:if="${msgs.size() == 1}">
		            <i th:if="${type == 'success'}" class="fa-solid fa-circle-check fs-5"></i>
		            <i th:if="${type == 'danger'}" class="fa-solid fa-circle-xmark fs-5"></i>
		            <i th:if="${type == 'warning'}" class="fa-solid fa-triangle-exclamation fs-5"></i>
		            <i th:if="${type == 'info'}" class="fa-solid fa-circle-info fs-5"></i>
		        </div>
		
		        <div class="flex-grow-1">
		            <div th:if="${msgs.size() == 1}" th:text="${msgs[0]}" class="fw-medium"></div>
		
		            <div th:if="${msgs.size() > 1}">
		                <ul class="mb-0 ps-3 mt-0">
		                    <li th:each="m : ${msgs}" th:text="${m}"></li>
		                </ul>
		            </div>
		        </div>
		
		        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		    </div>
		</div>
	</div>
</body>
</html>